/* Font imports */
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: semibold;
}
@font-face {
  font-family: "Figtree";
  src: url("../assets/fonts/Figtree-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "Broadsheet";
  src: url("../assets/fonts/Broadsheet LDO.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* OVERALL  */
body {
  font-family: "Figtree";
  font-size: 400;
  background-color: #fbfbfb;
}

h1,
section h2 {
  font-family: "Broadsheet";
}

h3 {
  font-weight: 700;
  font-size: 2.25rem;
  color: #fcf9ef;
}

/* Responsive styles */
@media (width >= 48rem) {
  .main {
    & section {
      padding: 80px 235px;
      text-align: center;
    }
    & section:nth-child(1) {
      padding: 80px 80px;
    }
    & section:nth-child(6) {
      padding: 80px 180px;
    }

    & h2 {
      font-size: 3rem;
    }
  }
}

@media (width <= 40rem) {
  .main {
    & section {
      padding: 80px 16px;
    }
    & p {
      font-size: 1.2rem;
      text-align: center;
    }
    & h2 {
      font-size: 2.3rem;
      text-align: center;
    }
  }
}
