@import "tailwindcss";

/* Font imports */
@font-face {
  font-family: "FigtreeRegular";
  src: url("../assets/fonts/Figtree-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BroadsheetRegular";
  src: url("../assets/fonts/Broadsheet LDO.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "FigtreeRegular";
}

h1,
section h2 {
  font-family: "BroadsheetRegular";
}

.main__container section {
  padding: 100px 235px;
}
@theme {
  /* Fonts */
  --font-figtreeRegular: "FigtreeRegular", sans-serif;
  --font-broadsheetRegular: "BroadsheetRegular", serif;
  /* Colors */
  --color-beige-500: #fcf9ef;
}
