@import "tailwindcss";
@import "./custom.css";

@theme {
  /* Fonts */
  --font-figtreeRegular: "FigtreeRegular", sans-serif;
  --font-broadsheetRegular: "BroadsheetRegular", serif;
  /* Colors */
  --color-beige-500: #fcf9ef;
  --color-base-100: #fbfbfb;
  --color-base-200: #fcf9ef;
  --color-base-content: #170e02;
  --color-primary: #caaa96;
  --color-accent: #859bae;
}

@layer components {
  /* Form inputs */
  .inputs {
    @apply border-2 border-primary rounded-2xl py-2 px-4;
  }

  /* Buttons */
  .btn-primary {
    @apply size-fit font-bold border px-5 py-3 rounded-4xl  bg-primary md:hover:bg-base-100 md:hover:text-primary text-base-200 shadow-inner uppercase ease-in duration-300;
  }
  .btn-secondary {
    @apply w-38 font-bold border px-5 py-3 rounded-4xl  bg-white/20 shadow-inner uppercase backdrop-blur-xs hover:bg-base-200 hover:text-accent ease-in duration-300;
  }

  .stack-card {
    @apply rounded-2xl shadow-sm size-fit p-6;
  }
}
